.level-container {
  display: flex;
}

.level-fill {
  width: 10px;
  height: 10px;
  background: rgb(216, 186, 19);
  border-radius: 100%;
  margin: 1px;
  border: 1px solid black;
}

.level-no-fill {
  width: 10px;
  height: 10px;
  background: transparent;
  border-radius: 100%;
  margin: 1px;
  border: 1px solid black;
}
