h1 {
  font-size: 20px;
  margin: 10px;
  color: #312a31;
}

.header {
  width: 100%;
  margin: 0;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border-bottom: 1px solid #e8e9eb;
  box-shadow: 0 2px 2px 2px #e8e9eb;
  font-size: 16px;
}

.logo {
  font-size: 25px;
  color: #ec5252;
}

.nav-container {
  display: flex;
  align-items: center;
}

.nav-container ul {
  display: flex;
  list-style-type: none;
}

.nav-container ul li {
  margin: 0 5px 0 5px;
  padding: 10px;
  border: 1px solid transparent;
}

.nav-container ul li:hover {
  background: #f2f3f5;
  border: 1px solid #e8e9eb;
  cursor: pointer;
}

@media screen and (max-width: 800px) {
  .nav-container {
    display: none;
  }

  nav {
    display: flex;
    margin: 0;
    padding: 0;
    padding: 0 10px 0 10px;
  }

  .header {
    justify-content: flex-start;
  }
}
